.h1-sidebar {
    font-family: var(--font-family);
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: var(--text-color);
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2em;
    white-space: nowrap;
    inline-size: min-content;
}

.right-sidebar,
.left-sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-sidebar-container{
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.right-sidebar-container{
padding-left: 1rem;
padding-right: 1.5rem;
}


