h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: var(--text-color);
}

.left-sidebar{
    /* background-color: var(--background-color); */
    display: flex;
    flex-direction: column;
}
/* 
.right-sidebar{
    background-color: var(--background-color);
} */


