.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }
  
  .navbar-menu {
    display: flex; /* Always display the menu */
  }
  
  .navbar-menu.show-menu {
    display: block; /* Hide the menu when showDropDown state is false */
  }
  
  .nav-elements {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navbar-toggler{
    display: none;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  .nav-link.active-link {
    font-weight: bold;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    padding: 0.5rem 1rem;
  }

  .navbar-toggler{
    display: flex;
    flex-direction: column;
    border-radius: 3px; /* Rounded corners */
    padding: 5px; /* Padding inside the box */
    margin: 2px; /* Margin around the box */
  }
  .navbar-toggler-icon{

  }

  
  .bar{
    height: 5px;
    margin: 12%;
  }
  
  @media (max-width: 960px) {
.navbar-menu{
    display: none;
}

    .navbar-menu.show-menu {
      display: block; /* Show the menu when showDropDown state is true */
    }
  
    .nav-item.dropdown {
      position: relative;
    }
  
    .dropdown-menu {
      top: 100%;
      left: 0;
    }
    
  .navbar-toggler{
    display: flex;
  }
  }
  