.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 200;
  margin-left: 2%;
}

.navbar-menu {
  display: flex;
}

.navbar-menu.show-menu {
  display: block;
}

.nav-elements {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-toggler {
  display: none;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
}

.nav-link.active-link {
  font-weight: bold;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.navbar-toggler {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 2px;
  background: none;
}

.navbar {
  
}

@media (max-width: 960px) {
  .navbar-menu {
    display: none;
  }

  .navbar-menu.show-menu {
    display: block;
  }

  .nav-item.dropdown {
    position: relative;
  }

  .dropdown-menu {
    top: 100%;
    left: 0;
  }

  .navbar-toggler {
    display: flex;
  }
}
