.nav-link.active-link {
    color: rgb(23, 27, 213) !important; /* Change to your desired color */
  }
  /* General navbar styling */
  .navbar {
    background-color: #06eded4e; /* Light gray background, adjust as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Subtle shadow for depth */
  }
  
  /* Brand styling */
  .navbar-brand {
    color: #007bff; /* Bootstrap blue, adjust as needed */
    margin-left: 5rem ;
    font-family: "Taviraj", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  @media screen and (max-width:450px){
    .navbar-brand{
      margin-left: 2rem;
    }
  }

  .navbar-brand:hover {
    color: #0056b3; /* Darker shade for hover state */
  }
  
  /* Navbar items */
  .nav-item {
    margin: 0 1rem; /* Spacing between nav items */
  }
  
  .nav-link {
    font-family: "Taviraj", serif;
    font-weight: 800;
    font-style: normal;
    color: #555; /* Adjust as needed */
  }
  
  .nav-link:hover, .nav-link.active-link {
    color: #007bff; /* Bootstrap primary color for hover/active state */
  }
  
  /* Dropdown menu styling */
  .dropdown-menu {
    border: none; /* Removes the default border */
    box-shadow: 0 2px 10px rgba(0,0,0,.2); /* Dropdown shadow for depth */
    font-size: 0.9rem; /* Adjust as needed */
  }
  
  .dropdown-item {
    color: #333; /* Adjust as needed */
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa00; /* Light background on hover */
  }
  
  /* Toggler icon */
  .navbar-toggler {
    border: none; /* Removes default border */
  }
  
  /* .navbar-toggler span {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg...'); /* Customize toggler icon 
  } */
  
  /* Adjustments for larger screens */
  @media (min-width: 992px) {
    /* Ensures the nav-item links are aligned vertically in a column */
    .navbar-collapse {
      flex-direction: column;
      align-items: start;
    }
  
    .nav-item {
      margin: 0.5rem 0; /* More vertical spacing between nav items */
    }
  
    /* Makes dropdowns align horizontally with other nav-items */
    .dropdown-menu {
      position: static;
      float: none;
    }
  }
  