.main-content{
    display: flex;
    flex-direction: row;
    height: 100vh;
    outline: 2px solid purple;
}

.main-body{
    flex: auto;
    width: 80%;
    outline: 2px solid greenyellow;
}



