.main-content{
    /* display: flex;
    flex-direction: row; */
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px solid yellow;
}

.content-title{
    margin-top: 2rem;
    margin-bottom: 3rem;
    list-style: none;
}

