@import '../../App.scss';

.header-light{
    background-color: green;
    max-width: 110vw;
    overflow: hidden;
}


.header-dark{
    background-color: $dark-background;
    overflow: hidden;
}

.img-light{
    opacity: 0.6;
}

.img-dark{
    opacity: 0.6;
}