@import '../../App.scss';

.sidebar-dark {
    background-color: $dark-sidebar;
    color: $dark-text;
}

.sidebar-content {

    width: 200px;
    align-items: center;
}

.sidebar-light {
    background-color: $light-sidebar;
    color: $light-text;

    .sidebar-content {
        width: 200px;
    }
}

.sidebar-collapsed-dark {
    background-color: $dark-background;
    color: $dark-text;
}

.sidebar-collapsed-light {
    background-color: $light-background;
    color: $light-text;
}

.sidebar-link-light,
.sidebar-link-dark {
    text-decoration: none;
    list-style: none;
}

.sidebar-link-light {
    color: $light-links;
}

.sidebar-link-dark {
    color: $dark-links;
}

.sidebar-link-light:hover {
    color: $light-active-links;
}

.sidebar-link-dark:hover {
    color: $dark-active-links;
}

@mixin button-styles($background, $color) {
    @extend .btn;
    background: $background;
    color: $color;
    padding-top: 0px;
    padding-bottom: 3px;
}

.expand-button-dark {
    @include button-styles($dark-active-links, $dark-button-icon);
    border-radius: 5px;
}

.expanded-button-dark {
    @include button-styles($dark-sidebar, $dark-button-icon);
}

.expand-button-light {
    @include button-styles($light-active-links, $light-links);
    border-radius: 5px;
}

.expanded-button-light {
    @include button-styles($light-sidebar, $light-links);
}

.progress-bar-dark {
    background-color: rgb(3, 253, 3);
}

.progress-bar-light {
    background-color: rgb(236, 89, 106);
}

.progress-dark,
.progress-light {
    @extend .progress;
    background-color: #131212;
    width: 120px;
}

li{
    list-style: none;
}