@import '../../App.scss';


.sidebar-dark {
    background-color: $dark-sidebar;
    color: $dark-text;

}

.sidebar-light {
    background-color: $light-sidebar;
    color: $light-text;

}

.sidebar-collapsed-dark {
    background-color: $dark-background;

    color: $dark-text;

}

.sidebar-collapsed-light {
    background-color: $light-background;

    color: $light-text;

}

@mixin button-styles($background, $color) {
    background: $background;
    color: $color;
    border: none;
    box-shadow: none;
}

.expand-button-dark {
    @include button-styles($dark-active-links, $dark-heading);
    border-radius: 5px; // Removed quotes from 5px
}

.expanded-button-dark {
    @include button-styles($dark-sidebar, $dark-heading);
}

.expand-button-light {
    @include button-styles($light-active-links, $light-links);
    border-radius: 5px;
}

.expanded-button-light {
    @include button-styles($light-sidebar, $light-links);
}


.sidebar-link-light{
    text-decoration: none;
    color: $light-links;
}

.sidebar-link-light:hover{
    text-decoration: none;
    color: $light-active-links;
}

.sidebar-link-dark{
    text-decoration: none;
    color: $dark-links;
}

.sidebar-link-dark:hover{
    text-decoration: none;
    color: $dark-active-links;
}