.scrollable-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
}

.scrollable-page{
    // border: 2px solid red;
}
