h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: blue;
}

.left-sidebar{
    width:10%;
    flex-grow: 1;
    outline: 1px solid red;
}

.right-sidebar{
    width: 10%;
    flex-grow: 1;
    color: 1px solid green;
}

