h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-style: italic;
    text-align: center;
    color: blue;
}

.left-sidebar{
    background-color: rgba(19, 19, 19, 0.575);
}

.right-sidebar{
    background-color: rgba(19, 19, 19, 0.575);
}

