/* Global Variables */
:root {
    --primary-bg-color: #8226265f;
    --left-column-bg-color: #11fc2c55;
    --right-column-bg-color: #f4e80862;
    --header-footer-bg-color: #333;
    --text-color: #fff;
    --font-family: "Taviraj", serif;
    --main-content-width: 90%;
    --column-width: 5%;
    --responsive-breakpoint: 768px;
    /* Responsive breakpoint */
}

/* Base Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Full viewport height */
}


/* Typography */
h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-style: italic;
    text-align: center;

}

/* Layout Components */
.App {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    min-height: 100vh;
}

.content-wrap {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
}

/* Individual Element Styling */
.main-content {
    background-color: var(--primary-bg-color);
    width: var(--main-content-width);
    margin: 5 auto;
    border: 1px solid red;
}

.left-column,
.right-column {
    /* Flexible growth */
    flex: 1;
    /* border: 1px solid rgb(242, 5, 234); */
}

.left-column {
    background-color: var(--left-column-bg-color);
}

.right-column {
    background-color: var(--right-column-bg-color);
}

/* Header & Footer Styling */
header,
footer {
    background-color: var(--header-footer-bg-color);
    color: var(--text-color);
    padding: 10px 0;
    text-align: center;
    /* border: 1px solid rgb(13, 1, 1); */
}

footer {
    align-self: stretch;
    /* Match parent width */
}

/* Responsive Design */
@media (max-width: var(--responsive-breakpoint)) {

    .left-column,
    .right-column {
        display: none;
        /* Hide side columns on narrow screens */
    }

    .main-content {
        width: 100%;
        /* Full width on mobile */
    }
}