/* Global Variables */
:root {
  --background-color: #cbf3f0; /* Default to light theme */
  --text-color: #ffbf69; /* Default to light theme */
  --sidebar-bg-color: #cbf3f0; /* Default to light theme */
  --header-footer-bg-color: #2ec4b6; /* Common for both themes */
  --navbar-brand-color: #007bff; /* Bootstrap blue, common for both themes */
  --navbar-brand-hover-color: #0056b3; /* Darker shade for hover state, common for both themes */
  --link-color: #007bff; /* Link color, common for both themes */
  --dropdown-item-color: #333; /* Dropdown item text color, light theme */
  --dropdown-bg-hover: #f8f9fa00; /* Light background on hover for dropdown items, light theme */
}

[data-theme="dark"] {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
  --sidebar-bg-color: #ffbf69;
  --dropdown-item-color: #ccc; /* Lighter text color for dark theme dropdown items */
  --dropdown-bg-hover: #2a2a2a; /* Darker background on hover for dark theme */
}

/* Layout Components */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content-title{
  background-color: var(--background-color);
  color: var(--text-color);
}

.content-body{
  background-color: var(--background-color);
  color: var(--text-color);
}

.main-content,
.right-sidebar,
.left-sidebar {
  background-color: var(--background-color);
}

.header,
.footer {
  padding: 10px 0;
  text-align: center;
  background-color: var(--header-footer-bg-color);
  color: var(--text-color);
}

/* Typography */
h1 {
  font-family: "Taviraj", serif;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

/* Navbar and Dropdown Styles */
.navbar-brand,
.nav-link,
.dropdown-item {
  color: var(--text-color);
}

.navbar-brand:hover {
  color: var(--navbar-brand-hover-color);
}

.nav-link:hover,
.nav-link.active-link,
.dropdown-item:hover {
  background-color: var(--dropdown-bg-hover);
}