// Variables for Light Theme
$light-background: #fefefe;
$light-text: #121414;
$light-sidebar: #b8a1a6;
$light-links: #15424b;
$light-active-links: #00b5e0;
$light-heading: #dc2a26;

// Variables for Dark Theme
$dark-background: #171414;
$dark-text: #50886d;
$dark-sidebar: #211e1e;
$dark-links: #00e5e8;
$dark-active-links: #1d45a2;
$dark-heading: #f8d103;


// Default Styles
.App {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}
